section.full-page {
  width: 100%;
  height: 100vh;
}

section.half-page {
  width: 100%;
  height: 50vh;
}

// <picture> Implementation
img {
  display: block;
  margin: 0 auto;
}

@import url(https://fonts.googleapis.com/css?family=Monsieur+La+Doulaise);

.italic {
  font-style: italic;
}

.centered {
  width: 100%;
  text-align: center;
}

.fancy {
  font-family: 'Monsieur La Doulaise', cursive;
}

#transition1 {
  .background {
    background-image: url(../images/transition1.jpg);
  }
}

#transition2 {
  .background {
    background-image: url(../images/transition2.jpeg);
  }
}

#transition3 {
  .background {
    background-image: url(../images/transition3.jpeg);
  }
}

#transition4 {
  .background {
    background-image: url(../images/transition4.jpeg);
  }
}

.background {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}